AlignAfterOpenBracket: BlockIndent
AlignConsecutiveAssignments: None
AllowAllParametersOfDeclarationOnNextLine: No
AllowShortCaseLabelsOnASingleLine: Yes
AllowShortFunctionsOnASingleLine: Empty
AlwaysBreakTemplateDeclarations: Yes
BasedOnStyle: WebKit
BinPackParameters: OnePerLine
BreakAfterAttributes: Always
BreakBeforeBraces: Custom
BreakInheritanceList: BeforeComma
BreakTemplateDeclarations: Yes
BraceWrapping:
  AfterFunction: Yes
  BeforeElse: Yes
ColumnLimit: 100
CompactNamespaces: false
Cpp11BracedListStyle: false
FixNamespaceComments: Yes
IndentWidth: 4
IndentCaseLabels: false
LineEnding: LF
NamespaceIndentation: None
PackConstructorInitializers: Never
PointerAlignment: Left
QualifierAlignment: Left
RemoveSemicolon: true
SpaceAfterTemplateKeyword: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeCpp11BracedList: true
SpaceBeforeCtorInitializerColon: true
SpaceBeforeRangeBasedForLoopColon: true
SpaceBeforeSquareBrackets: false
SpaceInEmptyBlock: true
SpaceInEmptyParentheses: false
SpacesInAngles: Never
WrapNamespaceBodyWithEmptyLines: Always
