:root {
    --sans-serif-family: "Noto Sans", sans-serif;
    --sans-serif-size: 11pt;
    --serif-family: "Noto Serif", serif;
    --serif-size: 11pt;
    --monospace-family: "Fira Code", monospace;
    --monospace-size: 11pt;

    --light-background-color: white;
    --light-deep-background-color: #fafafa;
    --light-text-color: black;
    --light-border-color: #aaa;
    --light-del-color: #be1621;
    --light-del-background-color: #fbe6e8;
    --light-ins-color: #17752d;
    --light-ins-background-color: #e4faea;
    --light-para-color: rgb(10, 73, 136);
    --light-mark-background-color: #ffff85;
    --light-blockquote-border-color: #707070;
    --light-blockquote-background-color: #f0f0f0;
    --light-blockquote-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="%23707070"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M7.17 17c.51 0 .98-.29 1.2-.74l1.42-2.84c.14-.28.21-.58.21-.89V8c0-.55-.45-1-1-1H5c-.55 0-1 .45-1 1v4c0 .55.45 1 1 1h2l-1.03 2.06c-.45.89.2 1.94 1.2 1.94zm10 0c.51 0 .98-.29 1.2-.74l1.42-2.84c.14-.28.21-.58.21-.89V8c0-.55-.45-1-1-1h-4c-.55 0-1 .45-1 1v4c0 .55.45 1 1 1h2l-1.03 2.06c-.45.89.2 1.94 1.2 1.94z"/></svg>');

    --dark-background-color: #202020;
    --dark-deep-background-color: #1a1a1a;
    --dark-text-color: #f0f0f0;
    --dark-border-color: #505050;
    --dark-del-background-color: #67060c;
    --dark-del-color: #ffdcd7;
    --dark-ins-background-color: #033a16;
    --dark-ins-color: #aff5b4;
    --dark-para-color: #5bc0ff;
    --dark-a-color: #5bc0ff;
    --dark-a-visited-color: #c6a8ff;
    --dark-a-hover-color: #afd7ff;
    --dark-mark-color: #ededa8;
    --dark-mark-background-color: #525230;
    --dark-blockquote-border-color: #707070;
    --dark-blockquote-background-color: #303030;
    --dark-blockquote-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="%23707070"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M7.17 17c.51 0 .98-.29 1.2-.74l1.42-2.84c.14-.28.21-.58.21-.89V8c0-.55-.45-1-1-1H5c-.55 0-1 .45-1 1v4c0 .55.45 1 1 1h2l-1.03 2.06c-.45.89.2 1.94 1.2 1.94zm10 0c.51 0 .98-.29 1.2-.74l1.42-2.84c.14-.28.21-.58.21-.89V8c0-.55-.45-1-1-1h-4c-.55 0-1 .45-1 1v4c0 .55.45 1 1 1h2l-1.03 2.06c-.45.89.2 1.94 1.2 1.94z"/></svg>');

    --indent: 3em;
    --border-radius: 0.25em;
}

html {
    margin: 0;
    width: 100%;
    font-family: var(--serif-family);
    font-size: var(--serif-size);
}

body {
    --vertical-margin: 2rem;
    --margin-left: 3rem;
    --margin-right: 2rem;

    margin: var(--vertical-margin) var(--margin-right) var(--vertical-margin) var(--margin-left);
    width: calc(100% - var(--margin-left) - var(--margin-right));
    box-sizing: border-box;
}

main {
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;
}

code-block,
blockquote,
dl,
ol,
math[display=block],
p,
pre,
samp,
ul {
    margin-top: 1em;
    margin-bottom: 1em;
}

li {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

dt {
    margin-top: 0.25em;
    font-style: italic;
    font-weight: bold;
}

dd {
    margin-bottom: 0.25em;
}

blockquote {
    --border-thickness: 0.25em;
    --left-pad: 0.5em;

    position: relative;
    width: 100%;
    padding: 0.5em 0 0.5em var(--left-pad);
    margin-left: calc(var(--indent) - var(--border-thickness) - var(--left-pad));

    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

blockquote::before {
    position: absolute;
    left: -2.5em;
    top: -0.25em;
    width: 2em;
    height: 2em;

    content: "";
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
}

code,
code-block,
pre,
tt,
tt- {
    font-family: var(--monospace-family);
    font-variant-ligatures: none;
}

code,
tt,
tt- {
    font-size: var(--monospace-size);
}

code-block {
    display: block;
    padding: 0.5em;
    border-radius: var(--border-radius);
    box-sizing: border-box;
}

code-block,
pre,
samp {
    font-size: calc(var(--monospace-size) * 0.9);
    width: 100%;
}

code-block,
pre,
samp {
    white-space: pre;
    overflow-x: auto;
}

ins,
ins-lines {
    text-decoration: underline;
    font-weight: 600;
}

code-block ins,
code-block ins-lines {
    text-decoration: none;
}

code-block .comtext ins,
code-block .comtext ins-lines {
    text-decoration: underline;
}

del {
    text-decoration: line-through;
}

ins-lines,
del-lines {
    display: inline-block;
    width: 100%;
}

.comtext {
    font-family: var(--serif-family);
    font-size: var(--serif-size);
    font-style: italic;
}

code-block .comtext {
    font-size: calc(var(--serif-size) * 0.85);
}

kbd {
    font-size: var(--sans-serif-size);
    font-family: var(--sans-serif-family);

    display: inline-block;
    padding: 0 0.25em 0.15em 0.25em;
    border-radius: 0.25em;
    white-space: nowrap;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    position: relative;
}

/* PARAGRAPHS ANCHORS */

.para {
    cursor: pointer;
    font-weight: normal;
    font-family: var(--monospace-family);
    text-decoration: none;
    opacity: 0.25;

    position: absolute;
    left: -1.5rem;
}

.para:hover,
.para:focus,
:target .para {
    opacity: 1;
}

.para::before {
    content: "§";
}

/* SETTINGS MENU */

#settings:not(.js) {
    display: none;
}

#settings {
    z-index: 999;
    position: fixed;
    display: inline-block;
    top: 1em;
    right: 1em;
    opacity: 0.25;
}

#settings:hover,
#settings:focus {
    opacity: 1;
}

#settings svg {
    width: 2em;
    height: auto;
    cursor: pointer;
}

/* THEME ICONS */

html.dark #sync-theme-icon,
html.light #sync-theme-icon {
    display: none;
}

html:not(.dark) #dark-theme-icon {
    display: none;
}

html:not(.light) #light-theme-icon {
    display: none;
}

/* BEGIN LIGHT THEME */

html:not(.dark) {
    border-left: var(--border-thickness) solid var(--light-border-color);
    background-color: var(--light-background-color);
    color: var(--light-text-color);
}

html:not(.dark) .para,
html:not(.dark) .para::before {
    color: var(--light-para-color);
}

html:not(.dark) code-block {
    background-color: var(--light-deep-background-color);
    border: 1px solid var(--light-border-color);
}

html:not(.dark) ins,
html:not(.dark) ins-lines {
    color: var(--light-ins-color);
    background-color: var(--light-ins-background-color);
}

html:not(.dark) del,
html:not(.dark) del-lines {
    color: var(--light-del-color);
    background-color: var(--light-del-background-color);
}

html:not(.dark) kbd {
    background-color: var(--light-deep-background-color);
    border: 1px solid var(--light-border-color);
}

html:not(.dark) mark {
    background-color: var(--light-mark-background-color);
}

html:not(.dark) kbd {
    background-color: var(--light-deep-background-color);
    border: 1px solid var(--light-border-color);
    box-shadow: inset 0 -0.1em 0 var(--light-border-color);
}

html:not(.dark) blockquote {
    background-color: var(--light-blockquote-background-color);
    border-left: var(--border-thickness) solid var(--light-blockquote-border-color);
}

html:not(.dark) blockquote::before {
    background-image: var(--light-blockquote-image);
}

/* END LIGHT THEME */
/* BEGIN DARK THEME */

html.dark {
    background-color: var(--dark-background-color);
    color: var(---dark-text-color);
}

html.dark a {
    color: var(--dark-a-color);
}

html.dark a:visited {
    color: var(--dark-a-visited-color);
}

html.dark .para,
html.dark .para::before {
    color: var(--dark-para-color);
}

html.dark a:hover,
html.dark a:focus {
    color: var(--dark-a-hover-color);
}

html.dark code-block {
    background-color: var(--dark-deep-background-color);
    border: 1px solid var(--dark-border-color);
}

html.dark del,
html.dark del-lines {
    background-color: var(--dark-del-background-color);
    color: var(--dark-del-color);
}

html.dark ins,
html.dark ins-lines {
    background-color: var(--dark-ins-background-color);
    color: var(--dark-ins-color);
}

html.dark mark {
    color: var(--dark-mark-color);
    background-color: var(--dark-mark-background-color);
}

html.dark kbd {
    background-color: var(--dark-deep-background-color);
    border: 1px solid var(--dark-border-color);
    box-shadow: inset 0 -0.1em 0 var(--dark-border-color);
}

html.dark blockquote {
    background-color: var(--dark-blockquote-background-color);
    border-left: var(--border-thickness) solid var(--dark-blockquote-border-color);
}

html.dark blockquote::before {
    background-image: var(--dark-blockquote-image);
}

@media (prefers-color-scheme: dark) {
    html:not(.light) {
        background-color: var(--dark-background-color);
        color: var(--dark-text-color);
    }

    html:not(.light) a {
        color: var(--dark-a-color);
    }

    html:not(.light) a:visited {
        color: var(--dark-a-visited-color);
    }

    html:not(.light) .para,
    html:not(.light) .para::before {
        color: var(--dark-para-color);
    }

    html:not(.light) a:hover,
    html:not(.light) a:focus {
        color: var(--dark-a-hover-color);
    }

    html:not(.light) code-block {
        background-color: var(--dark-deep-background-color);
        border: 1px solid var(--dark-border-color);
    }

    html:not(.light) del,
    html:not(.light) del-lines {
        background-color: var(--dark-del-background-color);
        color: var(--dark-del-color);
    }

    html:not(.light) ins,
    html:not(.light) ins-lines {
        background-color: var(--dark-ins-background-color);
        color: var(--dark-ins-color);
    }

    html:not(.light) mark {
        color: var(--dark-mark-color);
        background-color: var(--dark-mark-background-color);
    }

    html:not(.light) kbd {
        background-color: var(--dark-deep-background-color);
        border: 1px solid var(--dark-border-color);
        box-shadow: inset 0 -0.1em 0 var(--dark-border-color);
    }

    html:not(.light) blockquote {
        background-color: var(--dark-blockquote-background-color);
        border-left: var(--border-thickness) solid var(--dark-blockquote-border-color);
    }

    html:not(.light) blockquote::before {
        background-image: var(--dark-blockquote-image);
    }
}

/* END DARK THEME */
